:root {
  --bgc: #F2F2F2;
  --main: #0063AE;
  --sec:#FF6400;
  --accent: white;

}

a {
  color: black;
  text-decoration: none;

}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/img/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: solid 1px gray;
}

.bg-nav-custom {
  background-color: var(--main);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  border-bottom: 2px solid transparent;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: var(--main);
  
}

.navbar-light .navbar-brand {
  color: var(--accent);
  font-size: 30px;
}

.bgc {
  background-color: var(--bgc);
}


#span-sicilia {

  color: #FF6400;
  font-size: 40px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--sec);
  border-bottom: 2px solid var(--sec);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: white;
}